* {
   margin: 0;
  padding: 0;
}

body {
   display: flex;
  font-family: sans-serif ;
    font-style: italic, bold;
    margin-left: 10px;
 }
#hex{
    display: none
}
#color{
    margin: 10px;
    padding: 10px;
 }
#hexx{display: none}
#colorx{
    margin: 10px;
    padding: 10px;
}
.container {
  background: #959998;
  margin-left: 100px;
  margin-top: 50px;
  padding: 30px;
  border-radius: 25px;
}
#btn_size
{
    margin: 10px;
    padding: 10px;
}
.title {
    text-align: center;
}

.title span {
  color: #F2EBD3;
}

.status-action {
  display: flex;
  margin-top: 20px;
  font-size: 20px;
  justify-content: space-around;
  height: 25px;
}

.status span {
  color: #F2EBD3;
}

.reset {
  cursor: pointer;
}

.reset:hover {
  color: #F2EBD3;
}

.game-grid {
  background-color: rgba(0,0,0,0.5);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 15px;
  margin-top: 30px;
}

.game-cell {
  background: #959998;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.x,.o {
  cursor: default;
}

.x::after {
  content: '×';
  font-size: 50px;
}

.o::after {
  content: '○';
  color: #F2EBD3;
  font-size: 75px;
}

.won::after {
  color: #BD022F;
}

 
